canvas {
  background: beige;
  border: 1px solid #bbb;
  height: 150px;
  width: 300px;
}

.hidden {
  display: none;
}

.indicator-button {
  padding: 0 20px 0 30px;
  position: relative;

  &:before {
    background: white;
    border: 1px solid #bbb;
    content: '';
    height: 5px;
    left: 13px;
    position: absolute;
    top: 15px;
    width: 5px;
  }

  &.active {
    &:before {
      background: #08e408;
      box-shadow: 0 0 6px 3px rgba(8, 228, 8, 0.15);
    }
  }
}

.waveform {
  position: relative;

  .indicator {
    border: 1px solid #865571;
    display: none;
    height: 150px;
    left: 0;
    position: absolute;
    top: 0;

    &.start {
      animation-duration: 2.6666s;
      animation-name: move-indicator;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  .loop-point {
    border: 1px solid red;
    cursor: pointer;
    height: 150px;
    left: 50px;
    position: absolute;
    top: 0;

    &:after {
      border-color: transparent transparent transparent #ff0000;
      border-style: solid;
      border-width: 10px 0 0 10px;
      bottom: -1px;
      content: " ";
      height: 0;
      left: -1px;
      position: absolute;
      width: 0;
    }
  }

  .duration {
    position: absolute;
    left: 260px;
    top: 0px;
  }

  .loading-blind {
    background-color: white;
    display: none;
    height: 150px;
    left: 1px;
    opacity: 0.5;
    position: absolute;
    top: 1px;
    width: 300px;

    img {
      left: 125px;
      position: absolute;
      top: 65px;
    }
  }

  &.loading {
    .loading-blind {
      display: block;
    }
  }

  &.loaded {
    .indicator {
      display: block;
    }
  }
}

@keyframes move-indicator {
  from {
    left: 1px;
  }

  to {
    left: 299px;
  }
}
